* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  background-color: whitesmoke;
}
.none {
  height: 30px;
  width: 80px;
  background-color: blue;
  color: white;
}

.active {
  height: 30px;
  width: 80px;
  background-color: black;
  color: white;
}
header {
  height: 100px;
  width: 90%;
  margin: 15px auto;
}

.btn {
  display: flex;
  margin-top: 50px;
}
img {
  width: 200px;
  height: 140px;
}

.small {
  font-size: 0.2em;
}

main {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}
