* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  background-color: whitesmoke;
}
#root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}
dialog {
  margin: 0 auto;
  top: 35%;
}
